nautobot-plugin-nornir==2.2.1
nautobot-device-lifecycle-mgmt==3.1.0
nautobot-ssot[all]==3.8.1
nautobot-bgp-models==2.3.1
nautobot-device-onboarding==4.2.5
nautobot-data-validation-engine==3.2.0
nautobot-golden-config==2.2.1
nautobot-plugin-floorplan==0.7.0
nautobot-firewall-models==2.2.2
nautobot-chatops[all]==3.1.1
nautobot-ui-plugin==1.0.0
nautobot-design-builder==2.2.0
nautobot-secrets-providers[all]==3.2.0