nautobot-plugin-nornir>=1.0.0
nautobot-device-lifecycle-mgmt==1.6.1
nautobot-ssot[all]>=1.6.0
nautobot-bgp-models==1.0.0
nautobot-device-onboarding==1.2.0
nautobot-data-validation-engine==2.2.0
nautobot-golden-config==1.6.4
nautobot-floor-plan==1.0.0
nautobot-firewall-models==1.2.1
# nautobot-chatops[all]==2.1.0
nautobot-ui-plugin==0.10.4
nautobot-design-builder==1.4.1
nautobot-secrets-providers[all]==1.4.2