# requirements-extra.txt

# Job-specific packages
pandas
xlrd
openpyxl
fuzzywuzzy
python-Levenshtein
hier-config
pyntc
pyats
pytest
nuts
scrapli
scrapli[ssh2]
pysnmp
pan-os-python

# Auth providers
social-auth-core[openidconnect]
social-auth-core[saml]
social-auth-core[azuread]
social-auth-core[google]

# Ansible
ansible-core
aiohttp>=3.12.14 # not directly required, pinned by Snyk to avoid a vulnerability

# Extra NAPALM drivers
napalm-srl
napalm-panos
napalm-unifi
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
lxml>=4.9.1 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
