nautobot-plugin-nornir==2.1.0
nautobot-device-lifecycle-mgmt==2.2.0
nautobot-ssot==3.3.0
nautobot-ssot[all]==3.3.0
nautobot-bgp-models==2.3.0
# nautobot-device-onboarding==4.1.0
nautobot-data-validation-engine==3.2.0
nautobot-golden-config==2.2.1
# nautobot-plugin-floorplan==2.5.0 # Only Requires-Python >=3.8,<3.11
nautobot-firewall-models==2.2.0
nautobot-chatops==3.1.1
nautobot-ui-plugin==1.0.0
nautobot-design-builder==2.1.0