---
    name: Regular base image update check
    on:
      schedule:
        - cron: "23 13 3 * *"
      workflow_dispatch:
      
    jobs:
      check_nb_1_6_32:
        runs-on: ubuntu-latest
        steps:
          # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
          - uses: actions/checkout@v5.0.0
    
          - name: Docker Image Update Checker
            id: baseupdatecheck
            uses: lucacome/docker-image-update-checker@v3.0.1
            with:
              base-image: networktocode/nautobot:1.6.32-py3.11
              image: bsmeding/nautobot:1.6.32-py3.11
    
          # only execute subsequent steps if an update is actually NEEDED.
          # unfortunately we need to add an if-condition to all steps now
          # because a clean exit can't be triggered within a job it seems
          # (a cancellation is NOT the same and triggers a failure email)
          # see also https://github.com/actions/runner/issues/662
    
          - name: Login to DockerHub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'
    
          - name: Build and push Docker images latest
            uses: docker/build-push-action@v6.18.0
            with:
              context: "${{ github.workspace }}"
              file: './Dockerfile'
              push: true
              build-args: |
                PYTHON_VER=3.11
                NAUTOBOT_VER=1.6.32
              tags: bsmeding/nautobot:1.6.32
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'
      
      check_nb_1_6_latest:
        runs-on: ubuntu-latest
        steps:
          # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
          - uses: actions/checkout@v5.0.0
    
          - name: Docker Image Update Checker
            id: baseupdatecheck
            uses: lucacome/docker-image-update-checker@v3.0.1
            with:
              base-image: networktocode/nautobot:1.6
              image: bsmeding/nautobot:1.6
    
          # only execute subsequent steps if an update is actually NEEDED.
          # unfortunately we need to add an if-condition to all steps now
          # because a clean exit can't be triggered within a job it seems
          # (a cancellation is NOT the same and triggers a failure email)
          # see also https://github.com/actions/runner/issues/662
    
          - name: Login to DockerHub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'
    
          - name: Build and push Docker images latest
            uses: docker/build-push-action@v6.18.0
            with:
              context: "${{ github.workspace }}"
              file: './Dockerfile'
              push: true
              build-args: |
                PYTHON_VER=3.11
                NAUTOBOT_VER=1.6
              tags: bsmeding/nautobot:1.6
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'

      check_nb_2_3:
        runs-on: ubuntu-latest
        steps:
          # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
          - uses: actions/checkout@v5.0.0
    
          - name: Docker Image Update Checker
            id: baseupdatecheck
            uses: lucacome/docker-image-update-checker@v3.0.1
            with:
              base-image: networktocode/nautobot:2.3
              image: bsmeding/nautobot:2.3
    
          - name: Login to DockerHub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'
    
          - name: Build and push Docker images latest
            uses: docker/build-push-action@v6.18.0
            with:
              context: "${{ github.workspace }}"
              file: './Dockerfile'
              push: true
              build-args: |
                PYTHON_VER=3.11
                NAUTOBOT_VER=2.3
              tags: bsmeding/nautobot:2.3
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'

      check_nb_2_4:
        runs-on: ubuntu-latest
        steps:
          # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
          - uses: actions/checkout@v5.0.0
    
          - name: Docker Image Update Checker
            id: baseupdatecheck
            uses: lucacome/docker-image-update-checker@v3.0.1
            with:
              base-image: networktocode/nautobot:2.4
              image: bsmeding/nautobot:2.4
    
          - name: Login to DockerHub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'
    
          - name: Build and push Docker images latest
            uses: docker/build-push-action@v6.18.0
            with:
              context: "${{ github.workspace }}"
              file: './Dockerfile'
              push: true
              build-args: |
                PYTHON_VER=3.11
                NAUTOBOT_VER=2.4
              tags: bsmeding/nautobot:2.4
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'


      check_nb_3_0_py3_10:
        runs-on: ubuntu-latest
        steps:
          # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
          - uses: actions/checkout@v5.0.0
          - name: Docker Image Update Checker
            id: baseupdatecheck
            uses: lucacome/docker-image-update-checker@v3.0.1
            with:
              base-image: networktocode/nautobot:3.0-py3.10
              image: bsmeding/nautobot:3.0-py3.10
          - name: Login to DockerHub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'
          - name: Build and push Docker images latest
            uses: docker/build-push-action@v6.18.0
            with:
              context: "${{ github.workspace }}"
              file: './Dockerfile'
              push: true
              build-args: |
                PYTHON_VER=3.10
                NAUTOBOT_VER=3.0
              tags: bsmeding/nautobot:3.0-py3.10
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'

      check_nb_3_0_py3_11:
        runs-on: ubuntu-latest
        steps:
          # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
          - uses: actions/checkout@v5.0.0
          - name: Docker Image Update Checker
            id: baseupdatecheck
            uses: lucacome/docker-image-update-checker@v3.0.1
            with:
              base-image: networktocode/nautobot:3.0-py3.11
              image: bsmeding/nautobot:3.0-py3.11
          - name: Login to DockerHub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'
          - name: Build and push Docker images latest
            uses: docker/build-push-action@v6.18.0
            with:
              context: "${{ github.workspace }}"
              file: './Dockerfile'
              push: true
              build-args: |
                PYTHON_VER=3.11
                NAUTOBOT_VER=3.0
              tags: bsmeding/nautobot:3.0-py3.11
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'


      check_nb_3_0_py3_12:
        runs-on: ubuntu-latest
        steps:
          # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
          - uses: actions/checkout@v5.0.0
          - name: Docker Image Update Checker
            id: baseupdatecheck
            uses: lucacome/docker-image-update-checker@v3.0.1
            with:
              base-image: networktocode/nautobot:3.0-py3.12
              image: bsmeding/nautobot:3.0-py3.12
          - name: Login to DockerHub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'
          - name: Build and push Docker images latest
            uses: docker/build-push-action@v6.18.0
            with:
              context: "${{ github.workspace }}"
              file: './Dockerfile'
              push: true
              build-args: |
                PYTHON_VER=3.12
                NAUTOBOT_VER=3.0
              tags: bsmeding/nautobot:3.0-py3.12
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'

      check_nb_stable:
        runs-on: ubuntu-latest
        steps:
          # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
          - uses: actions/checkout@v5.0.0
          - name: Docker Image Update Checker
            id: baseupdatecheck
            uses: lucacome/docker-image-update-checker@v3.0.1
            with:
              base-image: networktocode/nautobot:stable
              image: bsmeding/nautobot:stable
          - name: Login to DockerHub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'
          - name: Build and push Docker images latest
            uses: docker/build-push-action@v6.18.0
            with:
              context: "${{ github.workspace }}"
              file: './Dockerfile'
              push: true
              build-args: |
                PYTHON_VER=3.12
                NAUTOBOT_VER=stable
              tags: bsmeding/nautobot:stable
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'

      check_nb_latest:
        runs-on: ubuntu-latest
        steps:
          # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
          - uses: actions/checkout@v5.0.0
          - name: Docker Image Update Checker
            id: baseupdatecheck
            uses: lucacome/docker-image-update-checker@v3.0.1
            with:
              base-image: networktocode/nautobot:latest
              image: bsmeding/nautobot:latest
          - name: Login to DockerHub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'
          - name: Build and push Docker images latest
            uses: docker/build-push-action@v6.18.0
            with:
              context: "${{ github.workspace }}"
              file: './Dockerfile'
              push: true
              build-args: |
                PYTHON_VER=3.12
                NAUTOBOT_VER=latest
              tags: bsmeding/nautobot:latest
            if: steps.baseupdatecheck.outputs.needs-updating == 'true'